@icb_cream:             #eeedde;
@icb_cream_dark:        darken( @icb_cream, 10% );
@icb_cream_light:       lighten( @icb_cream, 10% );

@icb_brown:             #5f3817;
@icb_brown_dark:        darken( @icb_brown, 10% );
@icb_brown_light:       lighten( @icb_brown, 10% );

@icb_green:             #a5b8a6;
@icb_green_dark:        darken( @icb_green, 10% );
@icb_green_light:       lighten( @icb_green, 10% );

@logo_width:            120px;
@logo_height:           100px;

@icb_width:             144px;
@icb_height:            14px;

// Bootstrap overrides

@grayDarker:            @icb_brown_dark;
@grayDark:              @icb_brown;
@grayLighter:           @icb_brown_light;

@serifFontFamily:       Amaranth, Georgia, "Times New Roman", Times, serif;
@baseFontSize:          16px;
@baseFontFamily:        @serifFontFamily;
@baseLineHeight:        @baseFontSize * 1.5;

@heroUnitBackground:    @icb_green;

@linkColor:             @icb_brown_light;
@linkColorHover:        @icb_brown_dark;
