@icb-cream:             #eeedde;
@icb-cream-dark:        #d4d3c5;
@icb-cream-light:       #fffeed;

@icb-brown:             #5f3817;
@icb-brown-dark:        #452911;
@icb-brown-light:       #78471d;

@icb-green:             #195e17;
@icb-green-dark:        #134511;
@icb-green-light:       #195e17;

@icb-blue:              #173d5e;
@icb-blue-dark:         #112d45;
@icb-blue-light:        #1d4d78;

@icb-purple:            #5c175e;
@icb-purple-dark:       #431145;
@icb-purple-light:      #751d78;

@logo_width:            120px;
@logo_height:           105px;

@icb_width:             145px;
@icb_height:            15px;

// Bootstrap overrides

@grayDarker:            @icb-brown-dark;
@grayDark:              @icb-brown;

