@import 'bootstrap.less';
@import 'icb-variables.less';

body {
    background:     @icb_cream;
}

#logo {
    display:        block;
    padding:        0 0 30px (@icb_width - @logo_width)/2;
}

.navbar-fixed-top {
    background:     @icb_cream;
    position:       static;
    margin-bottom:  0 !important;
}

.navbar {
    .brand {
        text-indent:    -9999px;
        background:     url('/static/img/inca-cafe-bar.png') no-repeat left center;
        width:          @icb_width;
        height:         30px;
        margin:         0 20px 0 0;
        padding:        8px 0 0 0;
        line-height:    18px;
    }

    .nav {
        .active > a, .active > a:hover {
            background-color:   transparent;
        }
    }
}

.navbar-inner {
    background:     url('/static/img/navbar.png') repeat-x left bottom;
}

@media (min-width: 786px) {
    .hero-unit.guitar{
        padding-right:  250px;
        background:     @heroUnitBackground url('/static/img/guitar.png') no-repeat right top;
    }
}

#map_canvas {
   height:          @gridColumnWidth * 5; 
}
